<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Musik Mill WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Musik Mill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Musik Mill WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C0677AC1C0BEF9200CAB5C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C0677C01C0BEF9300CAB5C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C0677CB1C0BEF9300CAB5C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C0677D41C0BEF9300CAB5C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
